# =========================
# Python
# =========================

__pycache__/
*.py[cod]
*$py.class

# =========================
# Virtual environments
# =========================

.venv/
venv/
env/

# =========================
# VS Code
# =========================

.vscode/

# =========================
# Jupyter
# =========================

.ipynb_checkpoints/

# =========================
# Large datasets
# =========================

data/
*.mat
*.h5
*.hdf5

# =========================
# Generated results
# =========================

results/figures/*
results/tables/*

# =========================
# OS files
# =========================

.DS_Store
Thumbs.db